<div class="contenedor">

    <div class="formulario">

        <h1>Mi Perfil</h1>

        <p><strong>Nombre:</strong> @ViewBag.usuario.Nombre</p>

        <p><strong>Usuario:</strong> @ViewBag.usuario.Usuario</p>

        <a class="boton" href="@Url.Action("ChangePassword", "Account")">
            Cambiar contraseña
        </a>

        <a class="boton" href="@Url.Action("Logout", "Account")">
            Cerrar sesión
        </a>

    </div>

</div>