
<h1>nombre: @ViewBag.usuario.Nombre</h1>
<h2>usuario: @ViewBag.usuario.Usuario</h2>
<a href="@Url.Action("ChangePassword", "Account")">Cambiar contraseña</a>
<a href="@Url.Action("Logout", "Account")">Cerrar sesión</a>


