@{
    ViewData["Title"] = "Registrarse";
}
<h1>Registrarse</h1>

<form method="post" action='@Url.Action("Register","Account")' id="formRegister">
    <label>nombre</label><br />
    <input type="text" name="nombre" />
    <label>Usuario</label><br />
    <input type="text" name="usuario" />

    <br /><br />

    <label>Contraseña</label><br />
    <input type="password" name="password" id = "contra1"/>
    <label>Repetir contraseña</label><br />
    <input type="password" name="password2" id="contra2"/>

    <br /><br />

    <button type="submit">Ingresar</button>

</form>

<br />

<p>¿ya tienes una cuenta?  <a href="action='@Url.Action("index","Account")'">iniciar sesion</a></p>


@section Scripts {
    <script src="~/js/login.js"></script>
}