USE [master]
GO
/****** Object:  Database [Album2026]    Script Date: 7/12/2026 10:37:02 PM ******/
CREATE DATABASE [Album2026]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Album2026', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Album2026.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Album2026_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Album2026_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Album2026].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Album2026]
GO
/****** Object:  Table [dbo].[Figuritas]    Script Date: 7/12/2026 10:37:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Figuritas](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Numero] [int] NOT NULL,
	[idJugador] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jugadores]    Script Date: 7/12/2026 10:37:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jugadores](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Posicion] [varchar](50) NOT NULL,
	[Ncamiseta] [int] NOT NULL,
	[IdSeleccion] [int] NOT NULL,
	[Imagen] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Selecciones]    Script Date: 7/12/2026 10:37:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Selecciones](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Grupo] [varchar](1) NOT NULL,
 CONSTRAINT [PK__Seleccio__3214EC2744E11ADD] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 7/12/2026 10:37:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Usuario] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuariosFiguritas]    Script Date: 7/12/2026 10:37:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuariosFiguritas](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[idUsuario] [int] NOT NULL,
	[idFigurita] [int] NOT NULL,
	[Pegada] [bit] NOT NULL,
	[Cantidad] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Figuritas] ON 

INSERT [dbo].[Figuritas] ([ID], [Numero], [idJugador]) VALUES (1, 1, 1)
INSERT [dbo].[Figuritas] ([ID], [Numero], [idJugador]) VALUES (2, 2, 2)
INSERT [dbo].[Figuritas] ([ID], [Numero], [idJugador]) VALUES (3, 3, 3)
SET IDENTITY_INSERT [dbo].[Figuritas] OFF
GO
SET IDENTITY_INSERT [dbo].[Jugadores] ON 

INSERT [dbo].[Jugadores] ([ID], [Nombre], [Posicion], [Ncamiseta], [IdSeleccion], [Imagen]) VALUES (1, N'Lionel Messi', N'Delantero', 10, 1, N'messi.svg')
INSERT [dbo].[Jugadores] ([ID], [Nombre], [Posicion], [Ncamiseta], [IdSeleccion], [Imagen]) VALUES (2, N'Julián Álvarez', N'Delantero', 9, 1, N'alvarez.svg')
INSERT [dbo].[Jugadores] ([ID], [Nombre], [Posicion], [Ncamiseta], [IdSeleccion], [Imagen]) VALUES (3, N'Emiliano Martínez', N'Arquero', 23, 1, N'emiliano.svg')
SET IDENTITY_INSERT [dbo].[Jugadores] OFF
GO
SET IDENTITY_INSERT [dbo].[Selecciones] ON 

INSERT [dbo].[Selecciones] ([ID], [Nombre], [Grupo]) VALUES (1, N'Argentina', N'A')
INSERT [dbo].[Selecciones] ([ID], [Nombre], [Grupo]) VALUES (2, N'Brasil', N'B')
INSERT [dbo].[Selecciones] ([ID], [Nombre], [Grupo]) VALUES (3, N'España', N'C')
SET IDENTITY_INSERT [dbo].[Selecciones] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([ID], [Nombre], [Usuario], [Password]) VALUES (1, N'rafa', N'rafa12', N'12345')
INSERT [dbo].[Usuarios] ([ID], [Nombre], [Usuario], [Password]) VALUES (2, N'Rafael Odiard Wesler', N'rafa123', N'2345')
INSERT [dbo].[Usuarios] ([ID], [Nombre], [Usuario], [Password]) VALUES (3, N'fasd', N'12', N'123')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET IDENTITY_INSERT [dbo].[UsuariosFiguritas] ON 

INSERT [dbo].[UsuariosFiguritas] ([ID], [idUsuario], [idFigurita], [Pegada], [Cantidad]) VALUES (4, 1, 1, 1, 2)
INSERT [dbo].[UsuariosFiguritas] ([ID], [idUsuario], [idFigurita], [Pegada], [Cantidad]) VALUES (7, 1, 12, 1, 5)
INSERT [dbo].[UsuariosFiguritas] ([ID], [idUsuario], [idFigurita], [Pegada], [Cantidad]) VALUES (8, 1, 16, 1, 4)
SET IDENTITY_INSERT [dbo].[UsuariosFiguritas] OFF
GO
ALTER TABLE [dbo].[UsuariosFiguritas] ADD  DEFAULT ((0)) FOR [Pegada]
GO
ALTER TABLE [dbo].[UsuariosFiguritas] ADD  DEFAULT ((1)) FOR [Cantidad]
GO
ALTER TABLE [dbo].[Figuritas]  WITH CHECK ADD  CONSTRAINT [FK_Figuritas_Jugadores] FOREIGN KEY([idJugador])
REFERENCES [dbo].[Jugadores] ([ID])
GO
ALTER TABLE [dbo].[Figuritas] CHECK CONSTRAINT [FK_Figuritas_Jugadores]
GO
ALTER TABLE [dbo].[Jugadores]  WITH CHECK ADD  CONSTRAINT [FK_Jugadores_Selecciones] FOREIGN KEY([IdSeleccion])
REFERENCES [dbo].[Selecciones] ([ID])
GO
ALTER TABLE [dbo].[Jugadores] CHECK CONSTRAINT [FK_Jugadores_Selecciones]
GO
ALTER TABLE [dbo].[UsuariosFiguritas]  WITH CHECK ADD  CONSTRAINT [FK_UsuariosFiguritas_Figuritas] FOREIGN KEY([idFigurita])
REFERENCES [dbo].[Figuritas] ([ID])
GO
ALTER TABLE [dbo].[UsuariosFiguritas] CHECK CONSTRAINT [FK_UsuariosFiguritas_Figuritas]
GO
ALTER TABLE [dbo].[UsuariosFiguritas]  WITH CHECK ADD  CONSTRAINT [FK_UsuariosFiguritas_Usuarios] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuarios] ([ID])
GO
ALTER TABLE [dbo].[UsuariosFiguritas] CHECK CONSTRAINT [FK_UsuariosFiguritas_Usuarios]
GO
USE [master]
GO
