@{
    List<Figuritas> figuritas = ViewBag.Figuritas;
    int seleccionActual = -1;
    ViewData["Title"] = "Mis Figuritas";

}
<div class="contenedor">

    <h1 class="titulo">Mis Figuritas</h1>

    <div class="figuritas-grid">

        @foreach(Figuritas f in figuritas)
        {
            if(f.Jugador.idSeleccion != seleccionActual)
            {
                seleccionActual = f.Jugador.idSeleccion;

                <h2 class="seleccion-titulo">
                    @f.Jugador.Seleccion.Nombre
                </h2>
            }

            <div class="figurita">

                <img src="~/images/jugadores/@f.Jugador.Imagen"/>

                <p>@f.Jugador.Nombre</p>

                <p>Cantidad: @f.Cantidad</p>

                <p>
                    @(f.Pegada ? "Pegada" : "Sin pegar")
                </p>

            </div>
        }

    </div>

</div>

