@{
    ViewData["Title"] = "Abrir Sobre";
}
<div class="contenedor">

    <h1 class="titulo">Abrir Sobre</h1>

    <div id="sobre">

        <img src="/images/paquete.png" id="imagenSobre" class="imagenSobre">

        <br><br>

        <button class="boton" onclick="AbrirSobre()">
            Abrir sobre
        </button>

    </div>

    <div id="figuritas"></div>

    <button class="boton" id="guardar" onclick="GuardarFigus()">
        Guardar figuritas
    </button>

</div>


@section Scripts {
    <script src="/js/sobre.js"></script>    
    @if(ViewBag.hayFiguritas)
{
    <script>
        cargarSobre();
    </script>
}
} 
